<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Edit</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
  <div class="container">
      <div class="topbar">
        {% if session.user_id %}
        <a></a>
        <a href="{{ url_for('frontpage') }}">I changed my mind, let's go back</a>
        {% endif %}
      </div>
    <h1>Edit your post</h1>
    <hr>
    <form action="/edit/{{ post.id }}" method="post" enctype="multipart/form-data">
      <p>
        Artist:<br>
        <input type="text" name="artist" value="{{ post.artist }}" required>
      </p>
      <p>
        Song:<br>
        <input type="text" name="song" value="{{ post.song }}" required>
      </p>
      <p>
        Comment:<br>
        <textarea name="comment" rows="5" cols="40">{{ post.comment }}</textarea>
      </p>
      {% if post.image_path %}
        <p>
          Current cover:<br>
          <img src="/{{ post.image_path }}" width="150">
        </p>
      {% endif %}
      <p>
        Change cover:<br>
        <input type="file" name="image">
      </p>
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
      <input type="submit" value="Send" />
    </form>
  </div>
</body>
</html>
