<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MoodMusic</title>
</head>

<body>
  <h1><i>MusicByMood</i></h1>
  <h2>Are you ready to explore new music?</h2>
  <p>
    Please, log in or register a new account
  </p>
    <form action="{{ url_for('login') }}" method="get">
        <button type="submit">Log In</button>
    </form>
    <form action="{{ url_for('register') }}" method="get">
        <button type="submit">Register</button>
    </form>
</body>

</html>