<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoodMusic</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>MoodMusic</h1>
        </div>
        <div class="prompt">
            <h2>Are you ready to explore new music?</h2>
        </div>
        <hr>
        {% if request.args.get("registered") %}
            <p style="color:rgb(150, 240, 150);">
                Account created successfully! Login to access all features.
            </p>
        {% endif %}
        <div class="nav">
            <p>
                Please, log in or register a new account to share your taste
            </p>
            <div>
                <form action="{{ url_for('login') }}" method="get">
                    <button type="submit">Log In</button>
                </form>

                <form action="{{ url_for('register') }}" method="get">
                    <button type="submit">Register</button>
                </form>
            </div>
        </div>
        <hr>
        {% if session.username %}
            <p>You're logged in as {{ session.username }}.</p>
            <p>
                <a href="{{ url_for('frontpage') }}">Go to music posts</a> |
                <a href="{{ url_for('logout') }}">Log out</a>
            </p>
        {% endif %}
    </div>
</body>
</html>