<html>
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="container">
        {% if session.username %}
            <p>You are already logged in as {{ session.username }}.</p>
            <p><a href="{{ url_for('frontpage') }}">Go to music posts</a></p>
            <p><a href="{{ url_for('logout') }}">Log out</a></p>
        {% else %}
            <h1>Log in:</h1>
            {% if error %}
                <p style="color:red">{{ error }}</p>
            {% endif %}
            <form action="{{ url_for('login') }}" method="post">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <p>
                    Insert username:
                    <input type="text" name="username" />
                </p>
                <p>
                    Insert password:
                    <input type="password" name="password" />
                </p>
                <input type="submit" value="Next" />
            </form>
        {% endif %}
    </div>
</body>
</html>