<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Register</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
  <div class="container">
    <div class="topbar" style="justify-content: flex-end;">
      <a href="{{ url_for('index') }}">Never mind</a>
    </div>
    <h1>Create an account</h1>
    {% if error %}
    <p style="color:red;">{{ error }}</p>
    {% endif %}
    <form action="/create" method="post">
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
      <p>
        <label for="username">Username:</label>
        <br />
        <input id="username" type="text" name="username" />
      </p>
      <p>
        <label for="password1">Password:</label>
        <br />
        <input id="password1" type="password" name="password1" />
      </p>
      <p>
        <label for="password2">Repeat password:</label>
        <br />
        <input id="password2" type="password" name="password2" />
      </p>
      <input type="submit" value="Create account" />
    </form>
  </div>
</body>

</html>